<div class="container">
  <form class="form-signin" onsubmit="return false;">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label>Your name</label>
    <select name="user" [(ngModel)]="selectedUser" class="form-control">
      <option *ngFor="let u of users" [ngValue]="u" [disabled]="!u">{{u?u.fullname:"Select your name"}}</option>
    </select>
    <input type="password" #inputPassword class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" (click)="signIn(inputPassword.value)">Sign in</button>
  </form>
</div>
