.level {
  font-weight: bold;
}

ul li .label {
  font-size: 100%;
}

ul li {
  margin-bottom: 6px;
  margin-top: 6px;
}

td ul {
  -webkit-margin-after: 0;
  margin-bottom: 0px;
}

table.table>tbody>tr>td {
  vertical-align: middle;
}

td:last-child, th:last-child {
  text-align: center;
}
