  .form-group> :nth-child(odd) {
    text-align: right;
  }

  @media (max-width: 1200px) and (min-width:768px) {
    .form-group > :nth-child(n+3) {
      margin-top: 10px;
    }
  }

  @media (max-width:768px) {
    .form-group > * {
      vertical-align: middle;
      display: inline-block;
      float: none;
      margin-top: 5px;
    }

  }
