<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Classe</th>
        <th>Type</th>
        <th>Cours</th>
        <th>Professeur</th>
        <th>Résultat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let work of works">
        <td>{{work.student.fullname}}</td>
        <td>{{work.class}}</td>
        <td>{{work.type}}</td>
        <td>{{work.subject}}</td>
        <td>{{work.teacher}}</td>
        <td>{{work.result}}</td>
      </tr>
    </tbody>
  </table>
</div>